<footer class="section-f" id="footer">
  <div class="container footer">
    <div class="holder">
      <div class="descop-wrap">
        <div class="wrapper">
          <a href="./index.html" class="text-f">watchcharm</a>

          <ul class="socials">
            <li class="social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icons" width="34" height="34">
                  <use
                    href="./img/symbol-defs (2).svg#icon-facebook-icon"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icons" width="34" height="34">
                  <use
                    href="./img/symbol-defs (2).svg#icon-instagram-icon"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icons" width="34" height="34">
                  <use href="./img/symbol-defs (2).svg#icon-youtube-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="descop-cont">
          <a class="button-footer" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >

          <div class="subject">
            <p class="subject-wrapper">
              Have the time of your life with our watches: where high-class
              craftsmanship meets impeccable design
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <nav class="navigation">
          <ul class="nav-list">
            <li class="nav-item-f">
              <a class="nav-link-f" href="#home">Home</a>
            </li>
            <li class="nav-item-f">
              <a class="nav-link-f" href="#about">About Us</a>
            </li>
            <li class="nav-item-f">
              <a class="nav-link-f" href="#catalog">Catalog</a>
            </li>
            <li class="nav-item-f">
              <a class="nav-link-f" href="#sale">Sale</a>
            </li>
            <li class="nav-item-f">
              <a class="nav-link-f" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item-f">
              <a class="nav-link-f" href="#contact">Contact Us</a>
            </li>
          </ul>
        </nav>
        <div>
          <p class="text-nav">1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </div>
      </div>

      <div class="footer-paragraph line">
        <p class="paragraph">©2023 The Watch Spot. All rights reserved.</p>
        <p class="paragraph-text">Terms of Service</p>
        <p class="paragraph-text-f">Privacy Policy</p>
      </div>
    </div>
  </div>
</footer>
