<footer class="container footer">
  <div class="holder">
    <div class="wrapper">
      <p class="text-f">watchcharm</p>

      <ul class="socials">
        <li class="social-item">
          <a class="social-link"></a>
          <svg class="social-icons" width="34" height="34">
            <use href="./img/symbol-defs (2).svg#icon-facebook-icon"></use>
          </svg>
        </li>
        <li class="social-item">
          <a class="social-link"></a>
          <svg class="social-icons" width="34" height="34">
            <use href="./img/symbol-defs (2).svg#icon-instagram-icon"></use>
          </svg>
        </li>
        <li class="social-item">
          <a class="social-link"></a>
          <svg class="social-icons" width="34" height="34">
            <use href="./img/symbol-defs (2).svg#icon-youtube-icon"></use>
          </svg>
        </li>
      </ul>
    </div>
    <button type="button" class="button-footer">
      <a class="contact" htef="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
    </button>

    <div class="subject">
      <p class="subject-wrapper">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>

    <div class="box">
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item-f">
            <a class="nav-link-f" href="#">Home</a>
          </li>
          <li class="nav-item-f">
            <a class="nav-link-f" href="#">About Us</a>
          </li>
          <li class="nav-item-f">
            <a class="nav-link-f" href="#">Catalog</a>
          </li>
          <li class="nav-item-f">
            <a class="nav-link-f" href="#">Sale</a>
          </li>
          <li class="nav-item-f">
            <a class="nav-link-f" href="#">Reviews</a>
          </li>
          <li class="nav-item-f">
            <a class="nav-link-f" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div>
        <p class="text-nav">1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>
    </div>
    <div>
      <span class="wrapper-vector-f">
        <svg class="icon-vector-f" width="279" height="2">
          <use href="./img/symbol-defs (2).svg#icon-Vector"></use>
        </svg>
      </span>
    </div>
    <div class="footer-paragraph">
      <p class="paragraph">©2023 The Watch Spot. All rights reserved.</p>
      <p class="paragraph-text">Terms of Service</p>
      <p class="paragraph-text">Privacy Policy</p>
    </div>
  </div>
</footer>
