<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">watchcharm</a>
      <button type="button" class="open-menu-btn">
        <svg width="34" height="34">
          <use href="./img/symbol-defs (2).svg#icon-menu-burger"></use>
        </svg>
      </button>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="./index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div>
      <ul class="icon-list">
        <li class="icon-item">
          <a href="https://www.facebook.com/goITclub/" class="icon-link">
            <svg class="icon-soc" width="34" height="34">
              <use href="../img/symbol-defs (2).svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="https://www.instagram.com/goitclub/" class="icon-link">
            <svg class="icon-soc" width="34" height="34">
              <use href="./img/symbol-defs (2).svg#icon-instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="icon-link">
            <svg class="icon-soc" width="34" height="34">
              <use href="./img/symbol-defs (2).svg#icon-youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mob-menu">
    <div class="mob-menu-wrap">
      <button type="button" class="menu-close-btn">
        <svg class="menu-icon-close" width="34" height="34">
          <use href="./img/symbol-defs (2).svg#icon-close-icon"></use>
        </svg>
      </button>
      <nav class="mob-navigetion">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="./index.html">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">About Us</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Catalog</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Sale</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Reviews</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="mob-soc-icons">
      <ul class="mob-icon-list">
        <li class="icon-item">
          <a href="https://www.facebook.com/goITclub/" class="icon-link">
            <svg class="icon-soc" width="34" height="34">
              <use href="./img/symbol-defs (2).svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="https://www.instagram.com/goitclub/" class="icon-link">
            <svg class="icon-soc" width="34" height="34">
              <use href="./img/symbol-defs (2).svg#icon-instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="icon-link">
            <svg class="icon-soc" width="34" height="34">
              <use href="./img/symbol-defs (2).svg#icon-youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
