<section class="section section-hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-wrap-one">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span"> collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-wrap-two">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/hero-img-01-1x.png 1x,
              ./img/hero/hero-img-01-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/hero/hero-img-01-tab-1x.png 1x,
              ./img/hero/hero-img-01-tab-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/hero-img-01-mob-1x.png 1x,
              ./img/hero/hero-img-01-mob-2x.png 2x
            "
          />
          <img
            src="./img/hero/hero-img-01-1x.png"
            alt="Our team"
            class="hero-img"
          />
        </picture>
        <a href="#footer" class="hero-scroll-down">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/hero-img-02-1x.png 1x,
          ./img/hero/hero-img-02-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px) and (max-width: 1279px)"
        srcset="
          ./img/hero/hero-img-02-tab-1x.png 1x,
          ./img/hero/hero-img-02-tab-2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/hero-img-02-mob-1x.png 1x,
          ./img/hero/hero-img-02-mob-2x.png 2x
        "
      />
      <img
        src="./img/hero/hero-img-02-1x.png"
        alt="Wrist watch"
        class="hero-foto"
      />
    </picture>
  </div>
</section>
