<section class="section-sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container-wrap">
      <div class="sale-picture">
        <div class="sale-list-wrap">
          <ul class="sale-list">
            <li class="sale-item">
              <picture>
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-1-x1.png 1x,
                    ./img/IMG-sale/img-sale-1-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-1-x1.png 1x,
                    ./img/IMG-sale/img-sale-1-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-mob-1-x1.png 1x,
                    ./img/IMG-sale/img-sale-mob-1-x2.png 2x
                  "
                  type="image/png"
                  media="(max-width: 767px)" />
                <img
                  src="./img/IMG-sale/img-sale-mob-1-x1.png"
                  width="96"
                  height="100"
                  alt="img-sale-1"
                  class="sale-image"
                  loading="lazy"
              /></picture>
            </li>
            <li class="sale-item">
              <picture>
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-2-x1.png 1x,
                    ./img/IMG-sale/img-sale-2-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-2-x1.png 1x,
                    ./img/IMG-sale/img-sale-2-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-mob-2-x1.png 1x,
                    ./img/IMG-sale/img-sale-mob-2-x2.png 2x
                  "
                  type="image/png"
                  media="(max-width: 767px)" />
                <img
                  src="./img/IMG-sale/img-sale-mob-2-x1.png"
                  width="96"
                  height="100"
                  alt="img-sale-2"
                  class="sale-image"
                  loading="lazy"
              /></picture>
            </li>
            <li class="sale-item">
              <picture>
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-3-x1.png 1x,
                    ./img/IMG-sale/img-sale-3-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-3-x1.png 1x,
                    ./img/IMG-sale/img-sale-3-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-mob-3-x1.png 1x,
                    ./img/IMG-sale/img-sale-mob-3-x2.png 2x
                  "
                  type="image/png"
                  media="(max-width: 767px)" />
                <img
                  src="./img/IMG-sale/img-sale-mob-3-x1.png"
                  width="96"
                  height="100"
                  alt="img-sale-3"
                  class="sale-image"
                  loading="lazy"
              /></picture>
            </li>
            <li class="sale-item">
              <picture>
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-4-x1.png 1x,
                    ./img/IMG-sale/img-sale-4-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-4-x1.png 1x,
                    ./img/IMG-sale/img-sale-4-x2.png 2x
                  "
                  type="image/png"
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/IMG-sale/img-sale-mob-4-x1.png 1x,
                    ./img/IMG-sale/img-sale-mob-4-x2.png 2x
                  "
                  type="image/png"
                  media="(max-width: 767px)" />
                <img
                  src="./img/IMG-sale/img-sale-mob-4-x1.png"
                  width="96"
                  height="100"
                  alt="img-sale-4"
                  class="sale-image"
                  loading="lazy"
              /></picture>
            </li>
          </ul>
        </div>
        <div class="sale-image-wrap">
          <picture>
            <source
              srcset="
                ./img/IMG-sale/img-sale-big-x1.png 1x,
                ./img/IMG-sale/img-sale-big-x2.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./img/IMG-sale/img-sale-big-x1.png 1x,
                ./img/IMG-sale/img-sale-big-x2.png 2x
              "
              type="image/png"
              media="(min-width: 768px)" />
            <source
              srcset="
                ./img/IMG-sale/img-sale-big-mob-x1.png 1x,
                ./img/IMG-sale/img-sale-big-mob-x2.png 2x
              "
              type="image/png"
              media="(max-width: 767px)" />
            <img
              src="./img/IMG-sale/img-sale-big-mob-x1.png"
              width="328"
              height="398"
              alt="img-sale-big"
              class="sale-image-big"
              loading="lazy"
          /></picture>
        </div>
      </div>
      <div class="sale-description">
        <h3 class="sale-description-title">
          MARQ&#xae; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-description-tag">Product tag: 706587</p>
        <div class="sale-btn-price">
          <button type="button" class="sale-btn">€1500</button>
          <p class="sale-price">€3000</p>
        </div>
        <p class="sale-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-description-list">
          <li class="sale-description-item">
            <p class="sale-description-text-wrap">Fused carbon fiber</p>
          </li>
          <li class="sale-description-item">
            <p class="sale-description-text-wrap">Grade-5 Titanuim</p>
          </li>
          <li class="sale-description-item">
            <p class="sale-description-text-wrap">Athlete</p>
          </li>
          <li class="sale-description-item">
            <p class="sale-description-text-wrap">Golfer</p>
          </li>
          <li class="sale-description-item">
            <p class="sale-description-text-wrap">Commander</p>
          </li>
          <li class="sale-description-item">
            <p class="sale-description-text-wrap">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
