
.advertisement {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advertisement::before {
    content: "";
    background-image:
        url("../img/Images-advert/imagemobaile-1x.jpg");
    opacity: 0.2;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.advert {
    display: flex;
    flex-direction: column;
    padding: 60px 28px 28px 28px;
    border-radius: 30px;
    width: 335px;
    height: 363px;
    background-color: #0C0C0C;
}
.advertisement-title{
    font-family: 'Gilroy-semibold';
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    max-width: 279px;
}
.advertisement-span{
    color: rgba(251, 251, 251, 0.5);
}
.advert-button {
    font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.3;
text-align: center;
color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
width: 160px;
height: 48px;
}