
.advert {
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    align-items: center;
    justify-content: center;  
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 60px 28px 28px 28px;
    border-radius: 30px;
    height: 363px;
    background-color: #0C0C0C;
}
.advert::before {
    content: "";
    background-image:
        url("/img/Images-advert/imagemobaile-1x.jpg");
    opacity: 0.2;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 30px;
}

.advertisement-title{
    font-family: 'Gilroy-semibold';
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    max-width: 279px;
}
.advertisement-span{
    color: rgba(251, 251, 251, 0.5);
    
}
.advert-button {
    font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.3;
text-align: center;
color: #FBFBFB;
background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
width: 160px;
height: 48px;
margin-right: auto;
display: block;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .advert::before {
            background-image:
                url("/img/Images-advert/imagemobaile-2x.jpg");
        }
}

@media screen and (min-width: 768px) {
   
    .advert {
        gap: 32px;
        width: 704px;
        height: 425px;
        padding: 80px 64px 80px 64px;
    }
    .advertisement-title {
    font-size: 48px;
    max-width: 576px;
    }
        .advert::before {
            background-image:
                    url("/img/Images-advert/imagetab-1x.jpg");
        }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px) {
    .advert::before {
            background-image:
                url("/img/Images-advert/imagetab-2x.jpg");
        }
}

@media screen and (min-width: 1280px) {
    .advert {
        flex-direction: row;
        gap: 140px;
        align-items: flex-start;
        width: 1150px;
        height: 298px;
        padding: 83px 80px 83px 80px;
        }
    
        .advertisement-title {
            max-width: 690px;
        }
    .advert::before {
            background-image:
                url("/img/Images-advert/imagedes-1x.jpg");
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
(min-resolution: 192dpi) and (min-width: 1280px) {
.advert::before {
        background-image:
            url("/img/Images-advert/imagedes-2x.jpg");
    }
}