.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px 28px 28px 28px;
    background-color: #0C0C0C;
    border-radius: 30px; 
    font-family: 'Gilroy-medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    /* width: 335px; */
    gap: 92px;   
     margin-top: 60px; 
}
@media  (min-width: 375px) {
.footer {
    width: 335px;
}
}
.holder{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; 
    width: 279px; 
}
.footer-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

}
 .text-f {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
} 
.footer-socials{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 39px;
    padding-bottom: 20px; 
    padding: 0;
    gap: 10px; 
}
.socials {
    display: flex;
    padding-top: 20px;
}
.social-icons{
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    fill: #FBFBFB;
    opacity: 0.8;
}

.button-footer{
    text-align: center;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    margin-top: 14px; 
    background: 0;
    padding: 14px ;
    max-width: 152px;
    height: 44px;
    font-family: "Gilroy-regular", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #FBFBFB;
    background-color: #0C0C0C;
}

.subject-wrapper{
    font-family: 'Gilroy-semibold';
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 92px;
}
.box{
    width: 279px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    height: 64px;
    margin-bottom: 24px;
}

.nav-list{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
row-gap: 8px;
column-gap: 16px;
width: 147px;
height: 64px;
}
.nav-item-f{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
}
.nav-link-f{
    text-decoration: none;
    color: #FBFBFB;
}
.text-nav{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
   padding-left: 49px;
   padding-bottom: 16px;
}
.icon-vector{
    stroke-width: 1px;
    stroke: rgba(251, 251, 251, 0.1);
}
.footer-paragraph{
    display: flex;
    flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 8px;
        column-gap: 20px;
        width: 187px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    opacity: 0.9;
    padding-top: 24px;
}

.icon-vector-f{
    width: 279px;
    stroke-width: 1px;
    stroke: rgba(251, 251, 251, 0.1);
}

@media (min-width: 768px){
    .footer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        border-radius: 30px;
        padding: 40px 40px 28px 40px;
        width: 704px;
        height: 540px;
    }
    .holder{
        width: 624px;
        flex-direction: row;
        justify-content: space-between;
    }
    .button-footer{
        max-width: 160px;
        height: 48px;
        padding: 15px;
        font-size: 14px;
        line-height: 1.28571; 
        text-transform: uppercase; 
        text-align: left;
        flex-direction: row-reverse;
        float: left;
    }
    .subject-wrapper{
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: -0.02em;
    }
    .box{
        padding-top: 100px;
    }
   .nav-list{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    gap: 19px;
    width: 400px;
    height: 18px;
   }
}


@media (min-width: 1280px){
    .footer{
        border-radius: 30px;
        padding: 40px 40px 28px 40px;
        width: 1216px;
        height: 400px;
    }
   
}