
.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header {
border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
}

.header-logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0C0C0C;
    padding: 20px 0;
}

.header-menu-list {
    display: none;
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.icon-link {
    fill: #FBFBFB;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(251, 251, 251, 0.1);
    padding: 8px;
    opacity: 0.8;
}
.icon-link:hover,
.icon-link:focus {
    opacity: 1;
}
.icon-list-desk {
    display: none;
}

.icon-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 36px;
    height: 36px
}

.open-menu-btn {
    width: 34px;
    height: 34px;
    padding: 0;
    line-height: 0;
    border-color: transparent;
    cursor: pointer;
    border: none;
    background-color: transparent;
    stroke-width: 2.50px;
    stroke: #0C0C0C;
}

.mob-menu {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    background-color: #0C0C0C;
    background-image: url(../img/header-img/image-mob.jpg);
}

 @media screen and (min-resolution: 2dppx),
 (min-resolution: 192dpi) {
     .main-solutions {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/header-img/image-mob-2x.jpg);
     }
    }

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mob-menu-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 240px 64px 260px 63px;
}

.menu-close-btn {
    width: 34px;
    height: 34px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 20px;
    padding: 0;
    border: none;
}

.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: #404BBF;
}

.menu-icon-close {
    stroke-width: 2.50px;
    stroke: #FBFBFB;
    background-color: #0C0C0C;
}

.menu-close-btn:hover>.menu-icon-close,
.menu-close-btn:focus>.menu-icon-close {
    fill: #3E0DEF;
}

.mob-menu-list {
    width: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: center;
}


.mob-soc-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 39px 40px 39px;
}

.mob-icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 122px;
    align-items: center;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #FBFBFB;
    width: 38px;
    height: 28px;
    opacity: 0.8;
}

.current {
    position: relative;
    color: #fbfbfb;
}

.current:after {
    border-radius: 50%;
    position: absolute;
    content: "";
    left: 50%;
    width: 8px;
    height: 8px;
    bottom: -10px;
    background-color: #404bbf;
    display: block;
    text-align: center;
    visibility: hidden;
}
.current:focus:after, .current:hover:after {
visibility: visible;
}
.vector-icon-hed {
    width: 415px;
    stroke-width: 1px;
        stroke: rgba(12, 12, 12, 0.1);
}

@media screen and (min-width: 780px) {
  .mob-menu {
      width: 330px;
    background-image: url(/img/header-img/image-tab.jpg);
    }

        @media screen and (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .main-solutions {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/img/header-img/image-tab-2x.jpg);
            }
        }


    .mob-soc-icons {
     margin: 0 101px 50px 101px;
        }

    .open-menu-btn {
     width: 40px;
     height: 40px;
     }

    .menu-close-btn {
     width: 40px;
     height: 40px;
     }
         .header-logo {
            font-size: 20px;
         }

    }


 


@media screen and (min-width: 1280px) {
    
    .open-menu-btn {
     display: none;
    }

    .mob-menu {
        display: none;
    }
    .header-menu-list {
        display: flex;
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header-menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        color: #0C0C0C;
    }

    .header-logo {
        margin-right: 203px;
        font-size: 20px;
    }

        
    .icon-list-desk {
        display: flex;
        margin: 0 auto;
        gap: 10px;
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .icon-item-desk {
        display: block;
        border: 1px solid rgba(12, 12, 12, 0.1);
            border-radius: 10px;
            padding: 8px;
            width: 36px;
            height: 36px;
    }
           .icon-link-desk:hover,
                   .icon-link-desk:focus {
                    fill: #3350e9;
                   }

        .current {
        color: #0c0c0c;
        }
                

   
}