/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Gilroy-medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
}
h1,
h2 {
  font-family: 'Gilroy-semibold';
  font-weight: 600;
}
.numbers {
  font-family: 'Gilroy-regular';
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  margin-top: 0;
  margin-bottom: 60px;
}
.section-hero {
  padding-top: 60px;
  padding-bottom: 0;
}
.section-about {
  padding-top: 40px;
  padding-bottom: 0;
}
.section-catalog, .section-adver, .section-sale, .section-review, .section-contact, .section-footer {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 375px)
{
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.28571;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
.container {
max-width: 768px;
padding-left: 32px;
padding-right: 32px;
}
.section {
  margin-bottom: 80px;
}
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
    .section {
      margin-bottom: 80px;
    }
        .section {
          margin-bottom: 100px;
        }
}