
.reviews {
  gap: 20px;
}
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  color: black;
}
.cards {
  border-radius: 30px;
  padding: 32px 36px;
  width: 100%;
  background: #f3f3f3;
}
.photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: black;
}
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.4);
  text-align: center;
}

.list-victoria {
  display: none;
}
.list-anastasia {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    padding-top: 100px;
  }
  .list-victoria {
    display: block;
  }
  .reviews {
    display: flex;
    gap: 16px;
  }
  .name {
    font-size: 18px;
    line-height: 1.1;
  }
  .cards {
    width: calc((100% - 16px) / 2);

    padding: 32px 36px;
  }
  text {
    font-size: 16px;
    color: #0c0c0c;
    line-height: 125%;
  }
  .title {
    font-size: 48px;
    line-height: 92%;
  }
}

@media screen and (min-width: 1280px) {
  .list-anastasia {
    display: block;
  }
  .cards {
    width: calc((100% - 40px) / 3);
  }
  .reviews {
    gap: 25px;
  }
  .text {
    font-size: 16px;
    line-height: 125%;
  }
  .title {
    font-size: 48px;
    line-height: 92%;
  }
}
