
@import url('./reset.css');
@import url('./header.css');
@import url('./aboutus.css');
@import url('./advertisement.css');
@import url('./catalog.css');
@import url('./contactus.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./reviews.css');
@import url('./sale.css');

@font-face {
    font-family: 'Gilroy-medium';
    src: url('../css/gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../css/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../css/gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../css/gilroy/Gilroy-Medium.woff') format('woff'),
        url('../css/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-semibold';
    src: url('../css/gilroy/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../css/gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../css/gilroy/Gilroy-Semibold.woff2') format('woff2'),
        url('../css/gilroy/Gilroy-Semibold.woff') format('woff'),
        url('../css/gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-regular';
    src: url('../css/gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../css/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../css/gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../css/gilroy/Gilroy-Regular.woff') format('woff'),
        url('../css/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}